language: node_js

node_js:
    - "0.11"
    - "0.10"

before_script: npm install -g bower

install: ant -logger org.apache.tools.ant.NoBannerLogger initialize

script: ant -logger org.apache.tools.ant.NoBannerLogger test

cache:
    directories:
        - vendor
        - node_modules
        - bower_components
